<%= simple_form_for(@invoice) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :member,:label_method => :comercial_key  %>
    <%= f.association :client, :collection => Customer.all(:order => 'client_code') , :label_method => :client_code ,:label_method => :name_client %>
    <%= f.input :folio %>
    <%= f.association :products, :collection => Product.all(:order => 'key'),:label_method => :key, input_html: { multiple: true }    %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
