	<fieldset>
	<%= f.input :product, :as => :string, :input_html => { type: "text", data: { provide:"typeahead", items: "8", source: autocomplete_productos(params[:opt])} }%>
      <%= f.input :count , :wrapper_html => { :class => 'cantidad_cremeria' } ,  :input_html => { :class => 'count' } %>
       <%= f.label "Precio:", class:'precio' %> 
       <%= f.input_field :price ,value: number_with_precision(f.object.price, precision: 2), :class => "input-mini" %>
      <%= f.hidden_field :_destroy %>
     <div class="remove_producto" ><%= link_to "Quitar Producto" , "#", class: "remove_fields btn " %></div>
     </fieldset>
