<h1>Listado de Fscturas</h1>

<table>
  <tr>
    <th>Folio</th>
    <th>Socio Comercial</th>
    <th>Cliente</th>
    <th>Total</th>
    <th>Estado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%= invoice.folio %></td>
    <td><%= invoice.member.name_member %></td>
    <td><%= invoice.client.name_client %></td>
    <td><%= invoice.total %></td>
    <td><%= invoice.status %></td>
    <td><%= link_to 'Show', invoice_path(invoice) %></td>
    <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
    <td><%= link_to 'Destroy', invoice , method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invoice', new_invoice_path %>
