<table class="table table-bordered table-striped">
  <colgorup>
    <col class="span1">
    <col class="span7">
  </colgroup>
    <thead>
      <tr>
        <th>Datos</th>
        <th>Descripción</th>
      </tr> 
    </thead>

  <tbody>
    <tr>
      <th>Folio</th>
      <td><%= @invoice.folio %></td>
    </tr>
  <tr>
      <th>Socio Comercial</th>
      <td><%= @invoice.member.name_member %></td>
  </tr>
  <tr>
      <th>Cliente</th>
      <td><%= @invoice.client.name_client %></td>
  </tr>

  <% @invoice.products.each_with_index do |product, i| %>
  <tr>
    <th><%= product.product_name %></th>
    <td><%= @subtotals[i] %><td>
  </tr>
    <%end%>
  

<tr>
      <th>SubTotal</th>
    <td><%= @invoice.total %></td>
</tr>
<tr>
     <th>IVA</th>
    <td><%= @invoice.iva %></td>
</tr>
<tr>
     <th>Total</th>
    <td><%= @invoice.totalfinal %></td>
</tr>

  <tbody>
  </table>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>