<table class="table table-bordered table-striped">
  <colgorup>
    <col class="span1">
    <col class="span7">
  </colgroup>
    <thead>
      <tr>
        <th>Datos</th>
        <th>Descripción</th>
      </tr> 
    </thead>

  <tbody>
    <tr>
      <th>Folio</th>
      <td><%= @invoice.folio %></td>
    </tr>
  <tr>
      <th>Socio Comercial</th>
      <td><%= @invoice.member.name_member %></td>
  </tr>
  <tr>
      <th>Cliente</th>
      <td><%= @invoice.client.name_client %></td>
  </tr>
  <tbody>
  </table>

<table class="table table-bordered table-striped">
  <thead>
      <tr>
        <th class = "cantidad">Cantidad</th>
        <th>Nombre Producto</th>
        <th>Subtotal</th>
      </tr> 
  </thead>
  <% @invoice.products.each_with_index do |product, i| %>
  <tr>
    <th><%= @cantidades[i] %></th>
    <th><%= product.product_name %></th>
    <td>$<%= @subtotals[i] %><td>
  </tr>
    <%end%>
  </table>
<table class="table table-bordered table-striped">
  <tr>
      <th>SubTotal</th>
    <td>$<%= @invoice.total %></td>
</tr>
<tr>
     <th>IVA</th>
    <td>$<%= @invoice.iva %></td>
</tr>
<tr>
     <th>Total</th>
    <td>$<%= @invoice.totalfinal %></td>
</tr>
</table>


<%= link_to 'Editar', edit_invoice_path(@invoice), class: "btn" %> 
<%= link_to 'Atras', invoices_path , class: "btn" %>