<div id= "clients">
<h1>Listado de clientes</h1>

<table class="table table-striped">
  <tr>
    <th class ="medium">Nombre del Cliente</th>
    <th>Status</th>
    <th>RFC</th>
    <th>Email</th>
    <th>Zona</th>
    <th class ="medium"></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td class ="medium"><%= client.name_client.truncate(30) %></td>
    <td><%= client.status %></td>
    <td><%= client.rfc %></td>
    <td><%= client.email.truncate(30) %></td>
    <td><%= client.zone.truncate(30) %></td>
    <td><%= link_to 'Ver', client, class: "btn btn-mini" %>
    <%= link_to 'Editar', edit_client_path(client),class: "btn btn-primary btn-mini" %>
    <%= link_to 'Eliminar', client,class: "btn btn-danger btn-mini", method: :delete, data: { confirm: '¿Estas Seguro?' } %>
</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo cliente', new_client_path,class: "btn btn-primary" %>
</div>
