<p id="notice"><%= notice %></p>

<p>
  <b>Name client:</b>
  <%= @client.name_client %>
</p>

<p>
  <b>Status:</b>
  <%= @client.status %>
</p>

<p>
  <b>Address:</b>
  <%= @client.address %>
</p>

<p>
  <b>Rfc:</b>
  <%= @client.rfc %>
</p>

<p>
  <b>Social rease:</b>
  <%= @client.social_rease %>
</p>

<p>
  <b>Fiscal address:</b>
  <%= @client.fiscal_address %>
</p>

<p>
  <b>Phone:</b>
  <%= @client.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>

<p>
  <b>Zone:</b>
  <%= @client.zone %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
