<p id="notice"><%= notice %></p>

<table class="table table-bordered table-striped">
  <colgorup>
    <col class="span1">
    <col class="span7">
  </colgroup>
    <thead>
      <tr>
        <th>Datos</th>
        <th>Descripción</th>
      </tr> 
    </thead>

  <tbody>
    <tr>
      <th>Cliente</th>
    <td><%= @customer.client_id %></td>
  </tr>
  <tr>

    </tr>
    <tr>
      <th>Código de cliente</th>
    <td><%= @customer.client_code %></td>
  </tr>
 
  <tbody>
  </table>
<p>
  <b>Client:</b>
  <%= @customer.client_id %>
</p>

<p>
  <b>Member:</b>
  <%= @customer.member_id %>
</p>

<p>
  <b>Client code:</b>
  <%= @customer.client_code %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
