<h1>Listado de Usuarios</h1>


<div id = "users">
<h1><%= @titulo %></h1>

<table class="table table-striped">
  <tr>
    <th>Usuario</th>

    <th class="medium"></th>
    
  </tr>

<% @users.each do |user| %>
  <tr>
    <td class ="medium"><%= user.email.truncate(30) %></td>
    
    
    <td class ="medium"><%= link_to 'Ver', user, class: "btn btn-mini" %>
    <%= link_to 'Editar', edit_user_path(user),class: "btn btn-primary btn-mini" %>
    <%= link_to 'Eliminar', user,class: "btn btn-mini btn-danger", method: :delete, data: { confirm: '¿Estas Seguro' } %>
</td>
<table class="table table-striped">
  <tr>
    <th>Email</th>
    <th>Rol</th>
    <th>Creado en</th>
    <th>Ultimo Ingreso</th>
    <th>Numero de Ingresos</th>
    <th></th>
    </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.roles.first.name %></td>
	<td><%= user.created_at %></td>
	<td><%= user.last_sign_in_at %></td>
	<td><%= user.sign_in_count %></td>
    <td><%= link_to 'Destroy',user_user_path(user), method: :delete, data: { confirm: '¿Estas Seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Usuario', new_user_path , class: "btn btn-primary" %>
</div>
