<%= simple_form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :member , :label_method => :name_member, :prompt => "Selecciona un Socio comercial"  %>
    <%= f.input :product_name %>
    <%= f.input :key %>
    <%= f.input :description %>   
    <%= f.input :peso %>

    <%= f.input :presentacion, :collection => ['litros','kilos']  %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
