<h1><%= @titulo %></h1>

<table class="table table-striped">
  <tr >
    <th>Nombre</th>
    <th>Clave comercial</th>
    <th>Socio Comercial</th>
    <th>Descripción</th>
    <th></th>
    
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.product_name %></td>
    <td><%= product.key %></td>
    <td><%= product.member.name_member %></td>
    <td><%= product.description %></td>
    <td><%= link_to 'Ver', product, class: "btn btn-mini" %>
    <%= link_to 'Editar', edit_product_path(product),class: "btn btn-mini btn-primary" %>
    <%= link_to 'Eliminar', product, class: "btn btn-danger btn-mini", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo producto', new_product_path, class: "btn btn-primary" %>
