<p id="notice"><%= notice %></p>

<p>
  <b>Product name:</b>
  <%= @product.product_name %>
</p>

<p>
  <b>Key:</b>
  <%= @product.key %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Precio:</b>
  <%= @product.precio %>
</p>

<p>
  <b>Peso:</b>
  <%= @product.peso %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
