<p id="notice"><%= notice %></p>
<p>
  <h1><%= @product.product_name %></h1>
</p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Datos</th>
      <th>Descripción</th>
    </tr>
    <tr>
  </thead>
      <tbody>
        <tr>
         <th>Clave comercial</th>
         <td><%= @product.key %></td>
        </tr>
        <tr>
          <td><%= @product.precio %></td>
        </tr>
        <tr>
          <th>Peso</th>
          <td><%= @product.peso %></td>
        </tr>
      </tbody>
    </table>
  

<%= link_to 'Editar', edit_product_path(@product) , class: "btn" %> 
<%= link_to 'regresar', products_path, class: "btn" %>
