<h1>Reportes de Facturas Diario</h1>

<table>
  <tr>
    <th>Fecha</th>
    <th>Invoice</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @daily_reports.each do |daily_report| %>
  <tr>
    <td><%= daily_report.fecha %></td>
    <td><%= daily_report.invoice_id %></td>
    <td><%= link_to 'Show', daily_report %></td>
    <td><%= link_to 'Edit', edit_daily_report_path(daily_report) %></td>
    <td><%= link_to 'Destroy', daily_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Daily report', new_daily_report_path %>
