 <li class="dropdown">
 	 <% if current_user.has_role? :admin %>
 	<%= lateral_menu("Socios Comerciales", "#", "drop1")%>
    <ul class="dropdown-menu">
     <li><%= drop_menu("Listado de Socios", members_path) %></li>
     <li><%= drop_menu("Agregar Socio Comercial", new_member_path) %></li>
     <li><%= drop_menu("Agregar Cliente a Socio Comercial", new_customer_path) %></li>	 
    </ul>
 </li>
 <li class="dropdown">
    <%= lateral_menu("Clientes", "#","drop2")%>
    <ul class="dropdown-menu">
     <li><%= drop_menu("Listado de Clientes", clients_path) %></li>
     <li><%= drop_menu("Agregar Cliente", new_client_path) %></li>	 
    </ul>
 </li>
 <li class="dropdown">
    <%= lateral_menu("Productos", "#","drop3")%>
    <ul class="dropdown-menu">
     <li><%= drop_menu("Listado de Productos", products_path) %></li>
     <li><%= drop_menu("Agregar Productos", new_product_path) %></li>   
    </ul>
 </li>
 <li class="dropdown">
    <%= lateral_menu("Facturas", "#","drop4")%>
    <ul class="dropdown-menu">
     <li><%= drop_menu("Listado de Facturas", invoices_path) %></li>
     <li><%= drop_menu("Agregar Factura", new_invoice_path) %></li>   
    </ul>
 </li>
 <li class="dropdown">
    <%= lateral_menu("Usuarios", "#","drop5")%>
    <ul class="dropdown-menu">
      <li><%= drop_menu("Listado de Usuarios",  user_users_path) %></li>   
     <li><%= drop_menu("Agregar Usuario",  new_user_user_path) %></li>   
    </ul>
 </li>
    <% end %>

<!--Este es el menu de  facturista -->
     <% if current_user.has_role? :facturista %>
 <li class="dropdown">
    <%= lateral_menu("Clientes", "#","drop2")%>
    <ul class="dropdown-menu">
     <li><%= drop_menu("Listado de Clientes", clients_path) %></li>
     <li><%= drop_menu("Agregar Cliente", new_client_path) %></li>   
    </ul>
 </li>
 <li class="dropdown">
    <%= lateral_menu("Productos", "#","drop3")%>
    <ul class="dropdown-menu">
     <li><%= drop_menu("Listado de Productos", products_path) %></li>
     <li><%= drop_menu("Agregar Productos", new_product_path) %></li>   
    </ul>
 </li>
 <li class="dropdown">
    <%= lateral_menu("Facturas", "#","drop4")%>
    <ul class="dropdown-menu">
     <li><%= drop_menu("Listado de Facturas", invoices_path) %></li>
     <li><%= drop_menu("Agregar Factura", new_invoice_path) %></li>   
    </ul>
 </li>
    <% end %>