<div id = "members">
<h1><%= @titulo %></h1>

<table class="table table-striped">
  <tr>
    <th>Socio Comercial</th>
    <th>Razon Social</th>
    <th>RFC</th>
    <th class="medium"></th>
    
  </tr>

<% @members.each do |member| %>
  <tr>
    <td class ="medium"><%= member.name_member.truncate(30) %></td>
    <td class ="medium"><%= member.social_reason.truncate(30) %></td>
    <td><%= member.rfc %></td>
    <td class ="medium"><%= link_to 'Ver', member, class: "btn btn-mini" %>
    <%= link_to 'Editar', edit_member_path(member),class: "btn btn-primary btn-mini" %>
    <%= link_to 'Eliminar', member,class: "btn btn-mini btn-danger", method: :delete, data: { confirm: '¿Estas Seguro' } %>
</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Socio Comercial', new_member_path , class: "btn btn-primary" %>
</div>
