<h1><%= @titulo %></h1>

<table class="table table-striped">
  <tr>
    <th>Socio Comercial</th>
    <th>Razon Social</th>
    <th>Direccion</th>
    <th>RFC</th>
    <th>Clave Comercial</th>
    <th>Telefono</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.name_member %></td>
    <td><%= member.social_reason %></td>
    <td><%= member.address %></td>
    <td><%= member.rfc %></td>
    <td><%= member.comercial_key %></td>
    <td><%= member.phone %></td>
    <td><%= member.email %></td>
    <td><%= link_to 'Mostrar', member, class: "btn" %></td>
    <td><%= link_to 'Editar', edit_member_path(member),class: "btn" %></td>
    <td><%= link_to 'Eliminar', member,class: "btn btn-danger", method: :delete, data: { confirm: '¿Estas Seguro' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Socio Comercial', new_member_path , class: "btn btn-primary" %>
