<p id="notice"><%= notice %></p>

<p>
  <b>Socios Comerciales:</b>
  <%= @member.name_member %>
</p>

<p>
  <b>Razón Social:</b>
  <%= @member.social_reason %>
</p>

<p>
  <b>Dirección:</b>
  <%= @member.address %>
</p>

<p>
  <b>RFC:</b>
  <%= @member.rfc %>
</p>

<p>
  <b>Clave Comercial:</b>
  <%= @member.comercial_key %>
</p>

<p>
  <b>Teléfono:</b>
  <%= @member.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>


<%= link_to 'Editar', edit_member_path(@member) %> |
<%= link_to 'Regresar', members_path %>
